* {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264D6;
    --second-color: #212832;
    --desc-color: #696D76;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
button,
select {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
a {
    display: inline-block;
    text-decoration: none;
}

button {
    outline: none;
    border: none;
}

.container--1170 {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.container--1440 {
    width: 1440px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 113px;
    min-height: 52px;
    border-radius: 8px;
    cursor: pointer;
    transition: .25s ease;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    background: var(--second-color);
}

.btn:hover {
    opacity: 0.8;
}

.btn--primary {
    background: var(--primary-color);
}

.section-label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #696D77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.section-label::before {
    margin-right: 12px;
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696D77;
}

.section-heading {
    color: var(--second-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section-desc.lv1 {
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.section-desc.lv2 {
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

/* Header */
.header {
    margin-top: 42px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    margin-right: auto;
    margin-left: 58px;
}

.navbar-item {
    padding: 4px 16px;
}

.navbar__list {
    display: flex;
    column-gap: 32px;
}

.navbar-item__link {
    color: #696D76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.navbar-item__active,
.navbar-item__link:hover {
    color: var(--second-color);
    text-shadow: 0px 0px var(--second-color), 0.6px -0.2px var(--second-color);
}

.navbar-item__active {
    border-bottom: 2px solid var(--primary-color);
}

.header__cta-wrap {
    display: flex;
    align-items: center;
}

.header__log-in {
    padding: 4px 14px;
    color: var(--second-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.header__log-in:hover {
    opacity: 0.8;
}

.header__sign-up {
    margin-left: 14px;
}