* {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264D6;
    --second-color: #212832;
    --desc-color: #696D76;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
button,
select {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
a {
    display: inline-block;
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

.container--1170 {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.container--1440 {
    width: 1440px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 113px;
    min-height: 52px;
    border-radius: 8px;
    cursor: pointer;
    transition: .25s ease;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    background: var(--second-color);
}

.btn:hover {
    opacity: 0.8;
}

.btn--primary {
    background: var(--primary-color);
}

.section-label {
    display: flex;
    align-items: center;
    color: #696D77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.section-label::before {
    margin-right: 12px;
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696D77;
}

.section-heading {
    margin-top: 12px;
    color: var(--second-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section-desc.lv1 {
    margin-top: 20px;
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.section-desc.lv2 {
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header */
.header {
    margin-top: 26px;
    padding: 16px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    margin-right: auto;
    margin-left: 58px;
}

.navbar-item {
    padding: 4px 16px;
}

.navbar__list {
    display: flex;
    column-gap: 32px;
}

.navbar-item__link {
    color: #696D76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.navbar-item__active,
.navbar-item__link:hover {
    color: var(--second-color);
    text-shadow: 0px 0px var(--second-color), 0.6px -0.2px var(--second-color);
}

.navbar-item__active {
    border-bottom: 2px solid var(--primary-color);
}

.header__cta-wrap {
    display: flex;
    align-items: center;
}

.header__log-in {
    padding: 4px 14px;
    color: var(--second-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.header__log-in:hover {
    opacity: 0.8;
}

.header__sign-up {
    margin-left: 14px;
    border-radius: 6px;
}

/* Hero */
.hero {
    margin-top: 76px;
}

.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 160px;
}

.hero__content {
    width: 46%;
}

.hero__heading {
    margin-top: 12px;
    color: var(--second-color);
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
}

.email-form {
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
}

.email-form__input {
    padding: 0 23px;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: transparent;
}

.email-form__submit {
    margin-right: 8px;
    min-width: 149px;
}

.hero__desc--warning {
    margin-top: 20px;
    color: #696D76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

.hero__media {
    position: relative;
}

.hero__img-wrap {
    width: 296px;
    height: 562px;
}

.hero__img {
    width: 100%;
    height: 100%;
}

.hero-deposite {
    position: absolute;
    top: 113px;
    left: -100px;
    width: 174px;
    display: flex;
    align-items: center;
    padding: 14px 10px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);

    animation: upDown 2s ease-in-out infinite;
}

.hero-deposite__title {
    margin-left: 8px;
    color: #31456A;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-deposite__price {
    margin-left: 19px;
    color: #4AB5E3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.hero-interest {
    position: absolute;
    top: 127px;
    right: -174px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #DA6464;
    color: #FFF;

    animation: upDown 1.5s ease-in-out infinite;
}

.hero-interest__percent {
    font-size: 4.4rem;
    font-weight: 600;
}

.hero-interest__title {
    font-size: 1.6rem;
    font-weight: 400;
}

.hero-secured-funds {
    position: absolute;
    right: -74px;
    bottom: 61px;
    width: 124px;
    padding: 20px 15px 21px 14px;
    display: flex;
    align-items: center;
    column-gap: 11px;
    border-radius: 10px;
    background: #439F90;
    color: #fff;

    animation: moveRight 1.25s ease-in-out infinite;
}

.hero-secured-funds__logo {
    width: 20px;
    height: 26px;
}

.hero-secured-funds__info {
    display: flex;
    flex-direction: column;
}

.hero-secured-funds__price {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-secured-funds__title {
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
}

@keyframes upDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }
}

@keyframes moveRight {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(50px);
    }
}

/* Work */
.work {
    margin-top: 160px;
}

.work__inner {
    display: flex;
    column-gap: 237px;
}

.work__media {
    position: relative;
    width: 40%;
}

.work__img-wrap {
    position: relative;
    width: 456px;
    height: 619px;
}

.work__img-wrap::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    width: 470px;
    height: 550px;
    background-image: url(../img/work-decor-01.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.work__img {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 7px;
    z-index: 1;
    object-fit: cover;
}

.work__logo {
    position: absolute;
    top: 70px;
    right: 55px;

    animation: moveRight 1.25s ease-in-out infinite;
}

.work-congratulation {
    position: absolute;
    right: -107px;
    bottom: 96px;
    display: flex;
    align-items: center;
    padding: 15px;
    column-gap: 10px;
    width: 226px;
    border-radius: 8px;
    background: #FFFDFA;
    box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
    z-index: 1;

    animation: upDown 1.5s ease-in-out infinite;
}

.work-congratulation__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #4AB5E3;
}

.work-congratulation__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFF;
    color: #4AB5E3;
}

.work-congratulation__info {
    font-family: "Inter", sans-serif;
}

.work-congratulation__title {
    color: var(--second-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.work-congratulation__desc {
    margin-top: 5px;
    color: #696D76;
    font-size: 1.2rem;
    font-weight: 400;
}

.work__list {
    margin-top: 70px;
}

.work-item+.work-item {
    margin-top: 30px;
}

.work-item__title {
    color: var(--second-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.work-item__desc {
    margin-top: 16px;
}

/* Card */
.card {
    margin-top: 160px;
}

.card__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.card__content {
    width: 40%;
    flex-shrink: 0;
}

.card__list {
    margin-top: 28px;
}

.card-item+.card-item {
    margin-top: 18px;
}

.card-item {
    color: var(--second-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.card-item::before {
    margin-right: 12px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--primary-color);
}

.card__btn {
    margin-top: 38px;
    min-width: 149px;
    min-height: 58px;
}

.card__media {
    position: relative;
    height: 322px;
}

.card__img-wrap {
    width: 482px;
    height: 322px;
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-send-money {
    position: absolute;
    top: -48px;
    right: -88px;
    width: 276px;
    padding: 23px 13px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.07);
    font-family: Inter, sans-serif;

    animation: moveRight 1.25s ease-in-out infinite;
}

.card-send-money__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #da64641a;
    box-shadow: -4px -2px 16px 0 #FFF, 4px 2px 16px 0 rgba(136, 165, 191, 0.48);
}

.card-send-money__info {
    margin-left: 14px;
}

.card-send-money__heading {
    color: var(--second-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.card-send-money__title {
    margin-top: 4px;
    color: #696D76;
    font-size: 1rem;
    font-weight: 400;
}

.card-send-money__price-wrap {
    margin-left: auto;
    text-align: right;
}

.card-send-money__price {
    color: var(--second-color);
    font-size: 1.6rem;
    font-weight: 400;
}

.card-send-money__date {
    margin-top: 3px;
    color: #696D76;
    font-size: 1rem;
    font-weight: 400;
}

.card-income {
    position: absolute;
    right: -88px;
    bottom: -55px;
    padding: 14px 15px 15px;
    border-radius: 16px;
    background: #439F90;
    color: #fff;
    width: 120px;

    animation: upDown 1.5s ease-in-out infinite;
}

.card-income__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: #FFF;
}

.card-income__title {
    margin-top: 14px;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 400;
}

.card-income__price {
    margin-top: 6px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
}

/* Payment */
.payment {
    margin-top: 160px;
}

.payment__inner {
    display: flex;
    column-gap: 130px;
}

.payment__media {
    position: relative;
    width: 48%;
}

.payment__img-wrap {
    position: relative;
    width: 413px;
    height: 600px;
}

.payment__img-wrap::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    width: 470px;
    height: 432px;
    background-image: url(../img/payment-decor-01.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.payment__img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 28px 0 29px;
}

.payment__money {
    position: absolute;
    top: 288px;
    right: -26px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: var(--primary-color);
    z-index: 2;
}

.payment__method-wrap {
    position: absolute;
    top: 323px;
    right: 0;
    padding: 28px;
    width: 281px;
    background: #fff;
    box-shadow: 0 44px 48px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    z-index: 1;
}

.payment__method-title {
    color: var(--second-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.payment__method-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.payment__method-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background: #F2F2FA;
}

/* Client */
.client {
    margin-top: 160px;
}

.client__top {
    text-align: center;
}

.client__label {
    justify-content: center;
}

.client__desc {
    width: 435px;
    margin: 18px auto 0;
}

.client__content {
    display: flex;
}

.client__list {
    margin-top: 70px;
    display: flex;
    text-align: center;
    column-gap: 30px;
}

.client__list:nth-child(2),
.client__list:nth-child(3) {
    display: none;
}

.client-item {
    width: 570px;
}

.client__message {
    position: relative;
    padding: 42px 28px;
    background: #fff;
    color: #696D76;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
    border: 1px solid #DFE2E8;
    border-radius: 8px;
    transition: .25s ease;
}

.client__message::after {
    content: "";
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    height: 60px;
    width: 60px;
    background: #fff;
    border: 1px solid;
    border-color: transparent #DFE2E8 #DFE2E8 transparent;
}

.client__message:hover {
    box-shadow: 0 22px 54px rgba(0, 0, 0, 0.07);
    border-color: transparent;
}

.client__message:hover:after {
    border: none;
}

.client__profile {
    margin-top: 96px;
}

.client__avatar-wrap {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.client-item:nth-child(1) .client__avatar-wrap {
    background: #4AB5E3;
}

.client-item:nth-child(2) .client__avatar-wrap {
    background: #439F90;
}

.client__avatar {
    width: 97%;
    object-fit: cover;
    margin-top: 14px;
}

.client__name {
    margin-top: 12px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.client__name-job {
    margin-top: 2px;
    color: #696D76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.client__dots {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.client__dot {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9B9FAB;
    cursor: pointer;
}

.client__dot:hover,
.client__dot--active {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

/* Blog */
.blog {
    margin-top: 160px;
}

.blog__top {
    display: flex;
    justify-content: space-between;
}

.blog__desc {
    margin-top: 18px;
    width: 435px;
}

.blog__btn {
    margin-top: 50px;
    min-width: 123px;
    min-height: 58px;
}

.blog__content {
    margin-top: 70px;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.blog-item {
    display: flex;
    padding: 28px;
    border-radius: 12px;
    background: #FFF;
    border: 1px solid #DFE2E8;

    transition: box-shadow .25s ease;
}

.blog-item:hover {
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.07);
    border-color: transparent;
}

.blog-item__img-wrap {
    flex-shrink: 0;
    width: 160px;
    height: 160px;
    border-radius: 12px;
    overflow: hidden;
}

.blog-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-item__body {
    padding: 10px 22px;
}

.blog-item__date {
    color: #696D76;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.blog-item__heading {
    margin-top: 10px;
    color: var(--second-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.blog-item__link {
    margin-top: 20px;
    color: #696D76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.62;
}

.blog-item__link:hover,
.blog-item__link:active {
    color: var(--primary-color);
}

/* App */
.app {
    margin-top: 160px;
}

.app__inner {
    position: relative;
    border-radius: 24px;
    padding: 100px 368px;
    background: var(--primary-color);
    text-align: center;
}

.app__label,
.app__desc,
.app__heading {
    color: #fff;
}

.app__label {
    justify-content: center;
}

.app__label::before {
    background: #fff;
}

.app__desc {
    margin-top: 18px;
    width: 435px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.app__cta-wrap {
    margin-top: 38px;
    display: flex;
    column-gap: 16px;
    justify-content: center;
}

.app__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 64px;
    background: #fff;
    border-radius: 6px;
}

.app__decor:nth-of-type(1),
.app__decor:nth-of-type(2),
.app__decor:nth-of-type(3),
.app__decor:nth-of-type(4) {
    position: absolute;
}

.app__decor:nth-of-type(1) {
    top: 49px;
    left: 112px;

    animation: scale 1s alternate infinite;
}

.app__decor:nth-of-type(2) {
    bottom: 49px;
    left: 166px;

    animation: rotate 2s infinite;
}

.app__decor:nth-of-type(3) {
    top: 49px;
    right: 122px;

    animation: rotate180 2s alternate infinite;
}

.app__decor:nth-of-type(4) {
    bottom: 49px;
    right: 166px;

    animation: twinkle 2s infinite ease-in-out;
}

@keyframes scale {

    from {
        transform: scale(0);
    }

    to {
        transform: scale(360deg);
    }
}

@keyframes rotate {

    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate180 {

    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes twinkle {

    0%,
    100% {
        opacity: 0.2;
        transform: scale(0.8);
    }

    50% {
        opacity: 1;
        transform: scale(1.3);
    }
}

/* Footer */
.footer {
    margin-top: 100px;
}

.footer__inner {
    padding: 100px 135px 28px;
}

.footer__row {
    display: flex;
}

.footer__row:nth-of-type(2) {
    margin-top: 54px;
}

.footer__column:nth-of-type(2) {
    margin-left: 162px;
}

.footer__column:nth-of-type(3),
.footer__column:nth-of-type(4) {
    margin-left: 163px;
}

.footer__heading,
.footer__form-label {
    color: var(--second-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.footer__list {
    margin-top: 24px;
}

.footer__item+.footer__item {
    margin-top: 14px;
}

.footer__link,
.footer__desc {
    color: #6A6E78;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__desc {
    margin-top: 24px;
}

.footer__form-wrap {
    margin-top: 48px;
}

.footer__form-input-wrap {
    margin-top: 24px;
    display: flex;
    column-gap: 20px;
}

.footer__form-input {
    padding: 12px;
    width: 270px;
    height: 52px;
    border-radius: 6px;
    border: 1px solid #8E919A;

    color: #8E919A;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.footer__form-submit {
    border-radius: 6px;
}

.footer__phone,
.footer__email-text {
    text-decoration: underline;
}

.footer__phone {
    margin-left: 100px;
}

.footer__copyright-wrap {
    margin-top: 28px;
    padding: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);

    color: #FFF;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
}