* {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264D6;
    --second-color: #212832;
    --desc-color: #696D76;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
button,
select {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
a {
    display: inline-block;
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

.container--1170 {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.container--1440 {
    width: 1440px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 113px;
    min-height: 52px;
    border-radius: 8px;
    cursor: pointer;
    transition: .25s ease;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    background: var(--second-color);
}

.btn:hover {
    opacity: 0.8;
}

.btn--primary {
    background: var(--primary-color);
}

.section-label {
    display: flex;
    align-items: center;
    color: #696D77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.section-label::before {
    margin-right: 12px;
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696D77;
}

.section-heading {
    margin-top: 12px;
    color: var(--second-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section-desc.lv1 {
    margin-top: 20px;
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.section-desc.lv2 {
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

/* Header */
.header {
    margin-top: 26px;
    padding: 16px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    margin-right: auto;
    margin-left: 58px;
}

.navbar-item {
    padding: 4px 16px;
}

.navbar__list {
    display: flex;
    column-gap: 32px;
}

.navbar-item__link {
    color: #696D76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.navbar-item__active,
.navbar-item__link:hover {
    color: var(--second-color);
    text-shadow: 0px 0px var(--second-color), 0.6px -0.2px var(--second-color);
}

.navbar-item__active {
    border-bottom: 2px solid var(--primary-color);
}

.header__cta-wrap {
    display: flex;
    align-items: center;
}

.header__log-in {
    padding: 4px 14px;
    color: var(--second-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.header__log-in:hover {
    opacity: 0.8;
}

.header__sign-up {
    margin-left: 14px;
    border-radius: 6px;
}

/* Hero */
.hero {
    margin-top: 76px;
}

.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 160px;
}

.hero__content {
    width: 46%;
}

.hero__heading {
    margin-top: 12px;
    color: var(--second-color);
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
}

.email-form {
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
}

.email-form__input {
    padding: 0 23px;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: transparent;
}

.email-form__submit {
    margin-right: 8px;
    min-width: 149px;
}

.hero__desc--warning {
    margin-top: 20px;
    color: #696D76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

.hero__media {
    position: relative;
}

.hero__img-wrap {
    width: 296px;
    height: 562px;
}

.hero__img {
    width: 100%;
    height: 100%;
}

.hero-deposite {
    position: absolute;
    top: 113px;
    left: -100px;
    width: 174px;
    display: flex;
    align-items: center;
    padding: 14px 10px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);

    animation: upDown 2s ease-in-out infinite;
}

.hero-deposite__title {
    margin-left: 8px;
    color: #31456A;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-deposite__price {
    margin-left: 19px;
    color: #4AB5E3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.hero-interest {
    position: absolute;
    top: 127px;
    right: -174px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #DA6464;
    color: #FFF;

    animation: upDown 1.5s ease-in-out infinite;
}

.hero-interest__percent {
    font-size: 4.4rem;
    font-weight: 600;
}

.hero-interest__title {
    font-size: 1.6rem;
    font-weight: 400;
}

.hero-secured-funds {
    position: absolute;
    right: -74px;
    bottom: 61px;
    width: 124px;
    padding: 20px 15px 21px 14px;
    display: flex;
    align-items: center;
    column-gap: 11px;
    border-radius: 10px;
    background: #439F90;
    color: #fff;

    animation: moveRight 1.25s ease-in-out infinite;
}

.hero-secured-funds__logo {
    width: 20px;
    height: 26px;
}

.hero-secured-funds__info {
    display: flex;
    flex-direction: column;
}

.hero-secured-funds__price {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-secured-funds__title {
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
}

@keyframes upDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }
}

@keyframes moveRight {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(50px);
    }
}

/* Work */
.work {
    margin-top: 160px;
}

.work__inner {
    display: flex;
    column-gap: 237px;
}

.work__media {
    position: relative;
    width: 40%;
}

.work__img-wrap {
    position: relative;
    width: 456px;
    height: 619px;
}

.work__img-wrap::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    width: 470px;
    height: 550px;
    background-image: url(../img/work-decor-01.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.work__img {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 7px;
    z-index: 1;
    object-fit: cover;
}

.work__logo {
    position: absolute;
    top: 70px;
    right: 55px;

    animation: moveRight 1.25s ease-in-out infinite;
}

.work-congratulation {
    position: absolute;
    right: -107px;
    bottom: 96px;
    display: flex;
    align-items: center;
    padding: 15px;
    column-gap: 10px;
    width: 226px;
    border-radius: 8px;
    background: #FFFDFA;
    box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
    z-index: 1;

    animation: upDown 1.5s ease-in-out infinite;
}

.work-congratulation__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #4AB5E3;
}

.work-congratulation__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFF;
    color: #4AB5E3;
}

.work-congratulation__info {
    font-family: "Inter", sans-serif;
}

.work-congratulation__title {
    color: var(--second-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.work-congratulation__desc {
    margin-top: 5px;
    color: #696D76;
    font-size: 1.2rem;
    font-weight: 400;
}

.work__list {
    margin-top: 70px;
}

.work-item+.work-item {
    margin-top: 30px;
}

.work-item__title {
    color: var(--second-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.work-item__desc {
    margin-top: 16px;
}